.now-playing {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #000000;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  justify-content: center; 
}

.nowplaying-info {
  display: flex;
  align-items: center;
  width: 250px;
  flex-shrink: 0;
  justify-content: center;
}

.nowplaying-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.nowplaying-text {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowplaying-title {
  font-size: 16px;
  margin: 0;
}

.nowplaying-artist {
  font-size: 14px;
  color: #b3b3b3;
  margin: 0;
}

.audio-player-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  flex-grow: 1;
}

.custom-audio-player {
  display: flex;
  align-items: center;
  background-color: #282828;
  padding: 10px;
  border-radius: 8px;
  justify-content: space-between; 
  width: 100%;
}

.controls {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center; 
}

.control-icon {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.play-pause-button {
  font-size: 30px;
}

.time-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  margin-right: 20px;
}

.time-controls span {
  margin: 0 10px;
}

.seek-slider {
  width: 100%; 
  max-width: 300px; 
  background: #404040;
  border-radius: 5px;
  cursor: pointer;
}

.volume-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%; 
}

.volume-slider {
  width: 100%; 
  max-width: 150px;
  background: #404040;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .now-playing {
    flex-wrap: wrap;
    justify-content: center;
  }

  .controls {
    flex-direction: column; 
    align-items: center;
  }

  .volume-slider {
    width: 80%; 
    max-width: none; 
  }

  .time-controls {
    margin-right: 0; 
  }
}

@media (max-width: 484px) {
  .nowplaying-info {
    padding-bottom: 5px;
  }

  .nowplaying-img{
    width: 15%;
    height: auto;
  }

  .nowplaying-title{
    font-size: 3rem;
  }

  .play-pause-button{
    font-size: 15px;
  }

  .time-controls{
    padding: 2rem;
  }

  .control-icon{
    font-size: 15px;
  }

  .custom-audio-player{
    padding: 0 !important;
  }
}
