.play-music-button {
    background-color: transparent;
    color: grey;
    border: none;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .play-music-button:hover {
    color: var(--orange-highlight);
  }
  
  .play-music-button .fa-play {
    font-size: 20px; 
  }