/* NAVBAR CSS */

.navbar {
    background-color: #444;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .navbar button {
    background-color: #888;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #fff;
  }