/* PLAYLIST CSS */
.playlist {
    flex: 1;
    padding: 10px;
    background-color: #000;
  }
  
  .playlist h2 {
    color: #fff;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
  }
  
  .playlist ul {
    list-style: none;
    padding: 0;
  }
  
  .playlist li {
    padding: 10px;
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .playlist button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 5px;
    margin-left: 5px;
  }
  
  .playlist button:hover {
    background-color: #666;
  }