.main-body {
    background-color: var(--dark-grey);
    border-radius: 10px;
    overflow: hidden; 
    background: rgb(0,0,0);
    background: linear-gradient(52deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 50%);
}

.main-body::after {
    content: "";
    display: block;
    height: 10px;
    background-color: var(--dark-grey);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.recommended-songs{
  color: white;
  font-size: 1.5rem;
}

.genres-title{
  color: white;
  font-size: 1.5rem;
  margin-bottom: -10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main-body{
    margin-bottom: 25px;
  }
}
