.playlist-dropdown-container {
    position: relative;
}

.add-to-playlist-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #ffffff;
    transition: color 0.3s;
}

.add-to-playlist-btn:hover {
    color: #ffffff;
}

.playlist-dropdown {
    position: absolute;
    top: 100%;
    right: 20%;
    background-color: rgb(39, 39, 39);
    padding: 10px;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 150px; 
    overflow-y: auto; 
}

.playlist-item-btn {
    display: block;
    width: 200px; 
    text-align: left;
    background: none;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin-left: 0px !important;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.playlist-select {
    display: none; 
}

.submit-btn {
    display: none; 
}

.addtoplaylist-button {
    color: var(--orange-highlight);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out; 
}

.addtoplaylist-button:hover {
    color: var(--orange-highlight);
    transform: scale(1.1); 
}