.custom-container {
    max-width: 90% !important;
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 50%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 100px !important;
}

.refresh-button {
    color: var(--orange-highlight);
    position: absolute;
    top: 30px;
    right: 40px;
    transition: transform 0.3s ease;
}

.refresh-button:hover {
    transform: scale(1.1);
}

