.custom-container {
    max-width: 90% !important;
    background: rgb(0,0,0);
    background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(23,23,23,1) 50%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 100px !important;
    padding-top: 40px;
    padding-right: 20px;
}

.refresh-button {
    color: var(--orange-highlight);
    position: absolute;
    top: 10px;
    right: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.refresh-button:hover {
    transform: scale(1.1);
}

@media (max-width: 10424px) {
    .refresh-button {
        top: 1px;
        right: 1px;
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .refresh-button {
        top: -7px;
        right: 5px;
        font-size: 12px !important;
    }
}

@media (max-width: 480px) {
    .refresh-button {
        top: 3px;
        right: 3px;
        font-size: 18px;
    }
}
